.annual-switch {
  height: 40px;
  max-width: 400px;
  margin: 0 auto;
}
.annual-switch__button {
  @include nowrap;
  @include noselect;
  @include font-size(1.4);
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 50%;
  height: 40px;
  float: left;
  line-height: 24px;
  font-weight: 600;
  padding: 6px 12px;
  color: $color-pink-500;
  text-align: center;
  background: white;
  border: 2px solid $color-pink-500;
  &:first-child {
    border-radius: 4px 0 0 4px;
  }
  &:last-child {
    border-radius: 0 4px 4px 0;
  }
  &:hover,
  &:active {
    color: $color-pink-700;
  }
  &:active,
  &:hover {
    box-shadow: $shadow-100;
  }
}

.annual-switch__button--active {
  z-index: 0;
  color:white!important;
  box-shadow: none!important;
  background: $color-pink-500!important;
}
