// module sidebar

$module-sidebar: 220px;

.module-sidebar {
  background: white;
  border-radius: 4px;
  box-shadow: $shadow-box;
  margin: 0 0 24px;
}


// sidebar__children
.module-sidebar__sidebar {
  float: left;
  padding: 12px 0 40px;
  width: $module-sidebar;
  //height: 800px;
  box-shadow: 1px 0 0 0 $color-border-light;
}
.module-sidebar__content {
  margin-left: $module-sidebar;
  padding: 16px 32px 32px;
  border-left: 1px solid $color-border-light;
}
.module__sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  border-right: 1px solid $color-border-light;
}




// sidebar buttons
.module-sidebar__button {
  @include noselect;
  display: block;
  position: relative;
  cursor: pointer;
  padding: 12px 12px 12px 32px;
  color: rgba($text-black,0.8);

  &:hover,
  &:active {
    color: $text-black;
    background: $color-grey-lightest;
  }

  &:active {
    .module-sidebar__button-icon,
    .module-sidebar__button-text {
      transform: translateY(2px);
    }
  }
}
.module-sidebar__button--active {
  color: $text-black;
  background: $color-grey-lightest;
  .module-sidebar__button-line {
    background: $color-pink;
  }
}

.module-sidebar__button-line {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
}

.module-sidebar__button-icon {}
.module-sidebar__button-text {
  @include nowrap;
  display: block;
  line-height: 24px;
  font-weight: bold;
}