// pagination

.pagination {
  display: block;
  height: 36px;
  padding: 40px 0;
}

.pagination__prev,
.pagination__next {
  @include noselect;
  cursor: pointer;
  border-radius: 4px;
  float: left;
  display: block;
  height: 36px;
  width: 100px;
  text-align: center;
  line-height: 32px;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid $color-grey-400;
  color: $text-black;
  &:hover {
    background: white;
    border-color: $color-grey-500;
  }
  &.button--active,
  &:active {
    background: white;
    border-color: $color-blue-500;
  }
}

.pagination__prev {
  margin-right: 8px;
}
.pagination__next {
  margin-left: 8px;
}

.pagination__item {
  @include noselect;
  cursor: pointer;
  float: left;
  display: block;
  line-height: 32px;
  padding: 0 12px;
  margin: 0 2px;
  color: $text-black;
  font-weight: 600;
  border-radius: 4px;
  border: 2px solid transparent;
  &:hover {
    background: white;
    border-color: $color-grey-500;
  }
  &:active {
    background: white;
    border-color: $color-blue-500;
  }
}
.pagination__item--selected {
  background: $color-grey-500!important;
  border: 2px solid $color-grey-500!important;
  color: white!important;
}




// prev + next
.previous-next {
  display: block;
  height: 36px;
  padding: 40px 0;
}

.previous-next__prev {
  @include noselect;
  cursor: pointer;
  position: relative;
  float: left;
  border: 2px solid $color-grey-400;
  border-right: none;
  border-radius: 4px 0 0 4px;
  height: 36px;
  padding: 8px 12px;
  &:hover {
    z-index: 2;
    background: white;
    border-color: $color-grey-500;
    box-shadow: 2px 0 0 $color-grey-500;
  }
  &:active {
    z-index: 2;
    background: white;
    border-color: $color-blue-500;
    box-shadow: 2px 0 0 $color-blue-500;
  }
}

.previous-next__next {
  @include noselect;
  cursor: pointer;
  float: left;
  position: relative;
  padding-right: 40px;
  border: 2px solid $color-grey-400;
  border-radius: 0 4px 4px 0;
  &:hover {
    z-index: 2;
    background: white;
    border-color: $color-grey-500;
  }
  &:active {
    z-index: 2;
    background: white;
    border-color: $color-blue-500;
  }
}
.previous-next__text {
  line-height: 32px;
  font-weight: 600;
  padding-left: 16px;
  text-transform: uppercase;
}
.previous-next__icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  padding: 8px 16px 8px 8px;
}




// pagination simple
.pagination-simple {
  display: block;
  height: 36px;
  padding: 40px 0;
}
.pagination-simple__prev {
  float: left;
  border-radius: 4px 0 0 4px;
}
.pagination-simple__next {
  float: left;
  border-radius: 0 4px 4px 0;
}

.pagination-simple__prev,
.pagination-simple__next {
  @include noselect;
  cursor: pointer;
  padding: 8px 12px;
  border: 2px solid $color-grey-400;
  &:hover {
    z-index: 2;
    background: white;
    border-color: $color-grey-500;
  }
  &:active {
    z-index: 2;
    background: white;
    border-color: $color-blue-500;
  }
}

.pagination-simple__state {
  float: left;
  padding: 0 16px;
  line-height: 32px;
  font-weight: 600;
  text-transform: uppercase;
  border-top: 2px solid $color-grey-400;
  border-bottom: 2px solid $color-grey-400;
}




// load more
.load-more {
  padding: 40px 0;
}
.load-more__button {
  @include noselect;
  text-transform: uppercase;
  color: $color-grey-800;
  background: none;
  display: block;
  margin: 0 auto;
  min-width: 400px;
  height: 36px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  font-family: $font-family;
  line-height: 16px;
  padding: 6px 12px;
  border: 2px solid $color-grey-400;
  &:hover {
    z-index: 2;
    background: white;
    border-color: $color-grey-500;
  }
  &:active {
    z-index: 2;
    background: white;
    border-color: $color-blue-500;
  }
}