// Settings
//--

.settings {
  position: relative;
}
.settings--margin {
  border-bottom: 1px solid $color-grey-200;
  padding: 0 0 24px;
  margin-bottom: 24px;
}
.settings__header {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 8px;
}
.settings__body {}
.settings__delete {
  position: absolute;
  top: 0;
  right: 0;
  width: 180px;
  padding: 24px 0;
}