// websites button
.websites-button {
  @include noselect;
  display: block;
  cursor: pointer;
  position: relative;
  padding: 0 0 0 28px;
  height: 40px;
  color: rgba(white,0.8);
  &:hover,
  &:active {
    color: white;
  }
  &:active {
    transform: translateY(2px);
  }
}
.websites-button__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 40px;
  padding: 12px 8px 12px 0;
}
.websites-button__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  padding: 8px 0;
  line-height: 24px;
  font-weight: 600;
}