// auth layout

.layout-auth {
  position: relative;
  padding: 56px 0;
  height: 100%;
  overflow-y: scroll;
  background: $color-grey-200;
}
.layout-auth__header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 56px;
  padding: 0 24px;
  background: $color-teal-500;
}
.layout-auth__container {
  padding: 80px 24px;
}
.layout-auth__footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  padding: 0 24px;
  background: white;
}



.auth-header {}
