//-------o--------o--------

.signup {
  padding: 40px 0;
  max-width: 520px;
  margin: 0 auto;
}
.signup__heading {
  @include font-size(2.8);
  font-weight: 600;
  text-align: center;
  line-height: 1.4;
  margin: 0 0 24px;
  @include screen-mob {
    @include font-size(2.2);
  }
}
.signup__input {
  margin: 0 0 16px
}


.email-validation {
  height: 40px;
  position: relative;
  padding: 0 160px 0 0;
  @include screen-mob {
    padding: 0;
    height: auto;
  }
}

.email-validation__input {}
.email-validation__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 160px;
  padding: 0 0 0 12px;
  @include screen-mob {
    position: static;
    width: 100%;
    padding: 12px 0 0;
  }
}
.email-validation__validation {
  display: none;
  padding: 6px 0 0;
  color: #F44336;
  line-height: 1.4;
}
.email-validation__validation--show {
  display: block;
}



.signup__success {}
.beta-success {
  color: $color-green-900;
  background: $color-green-100;
  border: 1px solid $color-green-300;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;
  text-align: center;
}