// add pages list
.add-pages {
  border-top: 1px solid $color-grey-300;
}
.add-pages__page {
  padding: 16px;
  border-bottom: 1px solid $color-grey-300;
}
.add-pages__page--green {
  background: $color-green-050;
}




// page brick
.brick-page {
  position: relative;
  padding: 0 120px 0 200px;
}
.brick-page__domain {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  padding: 0 12px 0 0;
  font-size: 14px;
  text-align: right;
  line-height: 40px;
}
.brick-page__input {}
.brick-page__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  padding-left: 16px;
}
.brick-page__switch {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 0;
}



// add domain
.add-domain {}
.add-domain__label {
  @include nowrap;
  display: block;
  padding: 0 0 4px;
  font-size: 16px;
  line-height: 20px;
}
.add-domain__elements {}
.add-domain__validation {
  display: none;
  padding: 6px 0 0;
  color: $color-red-500;
  line-height: 1.4;
}
.add-domain__validation--show {
  display: block;
}

.add-domain__submit {
  padding-top: 24px;
}


$protocol-width: 124px;

.domain-elements {
  position: relative;
  padding-left: $protocol-width;
}
.domain-elements__protocol {
  position: absolute;
  top: 0;
  left: 0;
  width: $protocol-width;
}
.domain-elements__url {
  padding-left: 8px;
}







// module seperator
.module-seperator {
  position: relative;
  margin: 32px 0;
  height: 36px;
}
.module-seperator__background {
  position: absolute;
  left: 20%;
  top: 15px;
  width: 60%;
  height: 2px;
  background: $color-pink-500;
  background: linear-gradient(to right, transparent,$color-pink-500,transparent);
}
.module-seperator__count {
  position: relative;
  z-index: 2;
  background: $color-pink-500;
  border-radius: 16px;
  height: 32px;
  width: 160px;
  padding: 4px 16px;
  margin: 0 auto;

  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}


// number-circle
.module__circle {
  display: none;
  position: absolute;
  left: -20px;
  top: 12px;
}

.number-circle {
  position: relative;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
}
.number-circle__number {
  text-align: center;
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
}
.number-circle__circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid $color-grey-500;
}