.auth {
  overflow: hidden;
  position: relative;
  box-shadow: $shadow-box;
  border-radius: 4px;
  background: white;
  @include screen-med {
    background: white;
    margin: 0;
    height: auto;
  }
}

.auth__header {
  padding: 24px 40px 24px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  @include screen-mob {
    padding: 24px;
  }
}
.auth__form {
  padding: 8px 40px 32px;
  @include screen-mob {
    padding: 0 24px 24px;
  }
}

.auth__forgot {}

.pattern-signup {
  margin: 24px 0 0;
}

//-- remember + submit
.pattern-signin {
  min-height: 40px;
  margin: 24px 0 0;
  position: relative;
  padding: 0 50% 0 0;
  @include screen-mob {
    padding: 0;
    margin: 0;
  }
}

.pattern-signin__checkbox {
  padding: 2px 0;
  @include screen-mob {
    margin: 0 0 16px;
  }
}
.pattern-signin__button {
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  padding: 0 0 0 12px;
  @include screen-mob {
    position: static;
    width: auto;
    padding: 0;
  }
}


//---
.context-switch {
  @include font-size(1.6);
  padding: 40px 0 0;
  text-align: center;
  a {
    color: $color-pink-500;
    font-weight: 600;
    &:hover,
    &:active {
      color: $color-pink-700;
    }
    &:active {
      transform: translateY(-2px)
    }
  }
  @include screen-mob {
    padding: 24px 0;
  }
}






//-- forgot
.auth-forgot {
  border-top: 1px solid $color-grey-300;
  .auth-forgot__button {
    display: block;
  }
  .auth-forgot__container {
    display: none;
  }
}

.auth-forgot--reset {
  .auth-forgot__button {
    display: none;
  }
  .auth-forgot__container {
    display: block;
  }
}

.auth-forgot__button {
  @include noselect;
  color: $color-grey-800;
  display: block;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  padding: 16px 24px;
  text-align: center;
  &:hover {
    background: $color-grey-100;
  }
  &:active {
    background: $color-grey-200;
  }
}

.auth-forgot__container {
  background: $color-grey-100;
}


.forgot-form {
  position: relative;
}
.forgot-form__header {
  @include noselect;
  color: #333;
  display: block;
  font-size: 14px;
  line-height: 24px;
  padding: 16px 56px;
  text-align: center;
}
.forgot-form__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
}

.forgot-form__content {
  border-top: 1px solid $color-grey-300;
  padding: 40px;
  @include screen-mob {
    padding: 24px;
  }
}


// sent password section
.forgot-sent {
  padding: 24px;
  border-radius: 4px;
  background: $color-green-100;
  border: 1px solid $color-green-300;
  @include screen-mob {
    padding: 16px;
  }
}
.forgot-sent__icon {
  margin: 12px auto 32px;
  width: 80px;
  height: 80px;
}
.forgot-sent__message {
  font-size: 16px;
  line-height: 1.4;
  color: $color-green-900;
  text-align: center;
  font-weight: 600;
}


.sent-image {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid $color-green-900;
}



.forgot-button {
  @include noselect;
  cursor: pointer;
  outline: none;
  display: block;
  padding: 2px;
  border-radius: 4px;
  border: 2px solid $color-grey-300;
  background: $color-grey-100;
  color: $color-grey-700;
  animation: forgot-animation 200ms ease-out;

  &:hover,
  &:active {
    background: white;
    box-shadow: $shadow-100;
  }
  &:hover {
    border-color: $color-grey-500;
  }
  &:active {
    border-color: $color-blue-500;
  }
}
.forgot-button__icon {
  padding: 4px;
  width: 24px;
  height: 24px;
  animation: forgot-icon-animation 480ms ease-out;
}


.forgot-form__content {
  animation: slidedown-animation 160ms ease-out;
}


@keyframes forgot-animation {
  000% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes forgot-icon-animation {
  000% {
    transform: rotate(-160deg);
  }
  80% {
    transform: rotate(25deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes slidedown-animation {
  000% {
    opacity: 0;
    transform: translateY(-16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

