// _reset
@import "reset";

// _apply a natural box layout model to all elements
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


// _shared imports
@import "shared/_mixin";
@import "shared/_color";
@import "shared/_breakpoints";

@import "shared/_center";
@import "shared/_type";
@import "shared/_useful";


// _icon
@import "icon/_icon-loading";
@import "icon/_icon";


// _auth (sign in / sign up)
@import "layout-application/_auth-layout";
@import "layout-application/_auth-header";
@import "layout-application/_auth-footer";


// _app
@import "layout-application/_app-layout";
@import "layout-application/_app-header";
@import "layout-application/_app-header__profile";
@import "layout-application/_app-header__websites";
@import "layout-application/_app-navigation";
@import "layout-application/_app-footer";
@import "layout-application/_chrome";


// _components
@import "components/_typography";
@import "components/_module";
//@import "components/_module-sidebar";

@import "components/_button";
@import "components/_button-switch";
@import "components/_button-pattern";
@import "components/_dropdown";

@import "components/_form";
@import "components/_form-grid";
@import "components/_form-search";
@import "components/_form-credit";
@import "components/_form-checkbox";

@import "components/_switch";
@import "components/_switch-control";

@import "components/_breadcrumb";
@import "components/_page-alert";
@import "components/_quest";

@import "components/_modal";
@import "components/_modal-upgrade";

@import "components/_settings";
@import "components/_pagination";

@import "components/_toast";
@import "components/_tooltip";



// ----
// Views
// ----

// auth _views
@import "views-application/_auth";

// application _views
@import "views-application/_app-table";
@import "views-application/_app--dashboard";
@import "views-application/_app--welcome";
@import "views-application/_app--create";
@import "views-application/_app--site";
@import "views-application/_app--pages--grid";
@import "views-application/_app--pages--diff";
@import "views-application/_app--pages--integrations";

@import "views-application/_account--plan--billing";
@import "views-application/_account--plan--select";