//----------------
//  center content
//----------------

.center {
  margin: 0 auto;
  max-width: 1020px;
}

.center--1400 {
  max-width: 1400px;
}

.center--1120 {
  max-width:  1120px;
}

.center--960 {
  max-width: 960px;
}

.center--800 {
  max-width: 800px;
}

.center--640 {
  max-width: 640px;
}

.center--540 {
  max-width: 540px;
}

.center--480 {
  max-width: 480px;
}