//-------------
// Upgrade modal
//-------------

.modal-upgrade {
  padding: 12px 0;
}

// content
.modal-upgrade__headline {
  @include font-size(2.4);
  padding: 16px 0;
  line-height: 1.4;
  font-weight: 600;
  text-align: center;
  margin: 0 0 16px;
}

.modal-upgrade__annual-switch {
  margin: 0 0 24px;
}


// plan select block
.modal-upgrade__section {
  padding: 24px 40px;
}
.modal-upgrade__title {
  @include font-size(1.6);
  line-height: 1.2;
  font-weight: 600;
  padding: 0 0 8px;
  margin: 0 0 12px;
  border-bottom: 1px solid $color-grey-400;
}

.modal-upgrade__message {
  @include font-size(1.6);
  font-style: italic;
  text-align: center;
  padding: 12px 24px 24px;
}

.modal-upgrade__plan {
  padding: 4px 0;
  &:last-child {
    margin: 0;
  }
}



// plan block
.plan-block {
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  border: 2px solid $color-grey-400;
  background: white;
  padding: 24px 200px 24px 184px;
  min-height: 72px;
}
.plan-block--green {
  border-color: $color-green-500;
  .plan-block__title {
    background-color: $color-green-050;
  }
}
.plan-block--pink {
  border-color: $color-pink-500;
  .plan-block__title {
    background-color: $color-pink-300;
  }
}

.plan-block__title {
  @include nowrap;
  @include font-size(1.6);
  font-weight: 600;
  line-height: 36px;
  position: absolute;
  padding: 16px 24px;
  left: 0;
  top: 0;
  height: 100%;
  width: 160px;
  //background: $color-grey-300;
}
.plan-block__list {}
.plan-block__button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 18px 24px;
  width: 200px;
}

.plan-block__feature {
  position: relative;
  padding: 0 0 0 36px;
}
.plan-block__feature-icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
  width: 24px;
  height: 24px;
}
.plan-block__feature-text {
  line-height: 24px;
}