// quest
.quest {
  position: relative;
  height: 40px;
}
.quest__button {
  height: 40px;
  color: white;
}
.quest__dropdown {
  position: absolute;
  z-index: 5;
  top: 44px;
  right: 0;
}


//button
.quest-button {
  @include noselect;
  cursor: pointer;
  padding: 14px 56px 14px 12px;
  line-height: 20px;
  color: rgba(black,0.8);
  font-weight: 600;
  background: $color-grey-300;
  border-radius: 4px;
  &:hover,
  &:active {
    color: black;
  }
  &:active {
    transform: translateY(2px);
  }
}
.quest-button--active {
  color: black;
  border-radius: 4px;
  background: $color-grey-200;
}

.quest-progress {
  width: 80px;
  height: 12px;
  padding: 2px;
  position: relative;
  border: 2px solid rgba(black,0.8);
  border-radius: 6px;
  &:hover {
    border-color: black;
  }
}
.quest-progress--active {
  border-color: black;
}

.quest-progress__bar {
  width: 25%;
  height: 4px;
  border-radius: 2px;
  background: black;
}
.quest-progress__percent {
  position: absolute;
  left: 100%;
  top: -8px;
  font-size: 14px;
  line-height: 24px;
  padding-left: 12px;
}


//dropdown
.quest-dropdown {
  display: none;
  overflow: hidden;
  width: 320px;
  border-radius: 0 0 4px 4px;
  background: white;
  box-shadow: $shadow-dropdown;
  border-top: 4px solid $color-pink-700;
  animation: dropdown-animation 160ms ease-out;
  animation-fill-mode: forwards;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -8px;
    right: 24px;
    border-bottom: 8px solid $color-pink-700;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }
}
.quest-dropdown--active {
  display: block;
}

.quest-dropdown__message {
  padding: 12px 24px;
  font-size: 14px;
  line-height: 1.6;
}
.quest-dropdown__quests {}
.quest-dropdown__incentive {
  padding: 12px 24px 0;
  font-size: 14px;
  line-height: 1.6;
}
.quest-dropdown__claim {
  padding: 12px 24px 24px;
}

// quest item
.quest-item {
  @include noselect;
  display: block;
  cursor: pointer;
  position: relative;
  color: $color-grey-900;
  padding: 12px 24px 12px 40px+24px;
  border-bottom: 1px solid $color-grey-300;
  &:hover {
    background: $color-grey-100;
  }
  &:active {
    background: $color-grey-200;
  }
}
.quest-item--complete {
  z-index: 2;
  text-decoration: line-through;
  color: $color-green-900!important;
  background: $color-green-100!important;
  border-color: $color-green-300!important;
  box-shadow: 0 -1px 0 0 $color-green-300;
  .quest-item__icon {
    border-color: $color-green-300;
  }
}
.quest-item__icon {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 40px;
  height: 100%;
  padding: 16px 12px;
  border-right: 1px solid $color-grey-300;
}
.quest-item__description {
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  line-height: 24px;
}
.quest-item__info {}
